

.bg-dark { 
    background-color:purple !important;
}

body {
  font-size: 14px;
  background-color: pink;
  font-family: "Josefin Sans", sans-serif;
}
h2 {
 font-weight: 300;
 font-weight: bold;
 

}
a {
font-weight: bold;
font-weight: 900;
font-size: 14px;
color:white;
}
p {
  font-size: 1.5em;
  font-style: italic;
  
}



